@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */
.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #ff2a2a;
}
body{
  overflow: hidden;
}
/* Your own custom utilities */
.flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto 10%;
}

.card-box{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
  width: 240px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 5px 8px #888888;
}
.card-box img{
   border-radius: 10px 10px 0 0;
   -webkit-border-radius: 10px 10px 0 0;
   -moz-border-radius: 10px 10px 0 0;
   -ms-border-radius: 10px 10px 0 0;
   -o-border-radius: 10px 10px 0 0;
   max-height: 300px;
   object-fit: cover;
}
.card-box .ant-card-body{
  padding-top: 24px;
  padding-bottom: 18px;
  padding-left: 12px !important;
  padding-right: 12px !important;
}
.btn-votar{
  cursor: pointer;
}
.btn-votar span{  
  text-align: center;
  font-weight: bold;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.votamento-css{
  font-size: 35px;
  font-weight: bold;
  color: #19612e;
}
.leozito{
  margin-left: 15px;
  font-size: 20px;
  font-weight: bold;
}
.rede{
  margin-right: 15px;
  font-size: 15px;
}
.alert{
  position: absolute;
  z-index: 1;
}

.resultado-votamento{
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: #19612e;
  margin-bottom: 30px;
}
.lista-resultado{
  width: 80%;
  margin: auto 10%;
}
.avatar{
  width: 120px;
  height: 120px;
}
.ant-list-item-meta-title{
  font-size: 20px;
}
.ant-list-item-meta-description{
  font-size: 25px;
  color: #19612e;
}
.ant-list-item-meta{
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    margin: 0;
  }
  .card-box{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    width: 100%;
  }
  .card-box img{
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
    max-height: 400px;
    object-fit: cover;
 }
 .nav{
   margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.votamento-css{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: #19612e;
  margin-top: 25px;
}
.leozito{
  position: absolute;
  left: 5px;
  font-size: 20px;
  font-weight: bold;
}
.rede{
  position: absolute;
  right: 5px;
}
.resultado-votamento{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: #19612e;
}
}

h2{
  top: 10px;
  position: absolute;
  font-family: 'Satisfy', cursive;
  font-size: 4em;
  color: #fff;
}
.box{
  position: absolute;
  width: 450px;
  height: 450px;
}

.box::before{
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #000, transparent);
  opacity: 0.1;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform-origin: left;
}

.img-box{
  position: relative;
  width: 450px;
  height: 450px;
  overflow: hidden;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: linear-gradient(135deg, #fff,#e4e3e8);
}

.img-box::before{
  background: linear-gradient(315deg, #fff,#e4e3e8);
}
.img-natal-0{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  background: #ff2a2a;
  height: 100vh;
}

section i{
  position: absolute;
  background: #ffd700;
  z-index: 9999;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  animation: animate linear infinite;
  -webkit-animation: animate linear infinite;
}

section i:nth-child(even){
  background: transparent;
  border: 1px solid #ffd700;
}

section input{
  font-family: Roboto, Helvetica, sans-serif;
  border: 0px dashed #BBB;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}
::-webkit-file-upload-button{
  border: none;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
@keyframes animate
{
    0%{
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      opacity: 0;
    }
    10%{
      opacity: 1;
    }
    90%{
      opacity: 1;
    }
    100%{
      transform: translateY(-2000%);
      -webkit-transform: translateY(-2000%);
      -moz-transform: translateY(-2000%);
      -ms-transform: translateY(-2000%);
      -o-transform: translateY(-2000%);
      opacity: 0;
    }
} 

.btns{
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 20px;
}

.btn{
  cursor: pointer;
}

video{
  width: 600px;
}

@media(max-width: 700px) {
  .btns{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: -40px;
    z-index: 999999;
  }
  .box{
    position: absolute;
    width: 320px;
    height: 320px;
  }

  .box::before{
    content: '';
    position: absolute;
    top: 0;
    left: 30%;
    width: 100%;
    height: 70%;
    background: linear-gradient(to right, #000, transparent);
    opacity: 0.1;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform-origin: left;
}
  
  .img-box{
    width: 320px;
    height: 320px;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
  .img-natal-0{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
}