@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */
.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow: hidden;
}
/* Your own custom utilities */
.flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto 10%;
}

.card-box{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
  width: 240px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 5px 8px #888888;
}
.card-box img{
   border-radius: 10px 10px 0 0;
   -webkit-border-radius: 10px 10px 0 0;
   -moz-border-radius: 10px 10px 0 0;
   -ms-border-radius: 10px 10px 0 0;
   -o-border-radius: 10px 10px 0 0;
   max-height: 300px;
   object-fit: cover;
}
.card-box .ant-card-body{
  padding-top: 24px;
  padding-bottom: 18px;
  padding-left: 12px !important;
  padding-right: 12px !important;
}
.btn-votar{
  cursor: pointer;
}
.btn-votar span{  
  text-align: center;
  font-weight: bold;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.votamento-css{
  font-size: 35px;
  font-weight: bold;
  color: #19612e;
}
.leozito{
  margin-left: 15px;
  font-size: 20px;
  font-weight: bold;
}
.rede{
  margin-right: 15px;
  font-size: 15px;
}
.alert{
  position: absolute;
  z-index: 1;
}

.resultado-votamento{
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: #19612e;
  margin-bottom: 30px;
}
.lista-resultado{
  width: 80%;
  margin: auto 10%;
}
.avatar{
  width: 120px;
  height: 120px;
}
.ant-list-item-meta-title{
  font-size: 20px;
}
.ant-list-item-meta-description{
  font-size: 25px;
  color: #19612e;
}
.ant-list-item-meta{
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    margin: 0;
  }
  .card-box{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    width: 100%;
  }
  .card-box img{
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
    max-height: 400px;
    object-fit: cover;
 }
 .nav{
   margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.votamento-css{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: #19612e;
  margin-top: 25px;
}
.leozito{
  position: absolute;
  left: 5px;
  font-size: 20px;
  font-weight: bold;
}
.rede{
  position: absolute;
  right: 5px;
}
.resultado-votamento{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: #19612e;
}
}

h2{
  top: 10px;
  position: absolute;
  font-family: 'Satisfy', cursive;
  font-size: 4em;
  color: #fff;
  z-index: 99999999;
}
.box{
  position: absolute;
  width: 450px;
  height: 450px;
}

.box::before{
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #000, transparent);
  opacity: 0.1;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform-origin: left;
}

.img-box{
  position: relative;
  width: 450px;
  height: 450px;
  overflow: hidden;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: linear-gradient(135deg, #fff,#e4e3e8);
}

.img-box::before{
  background: linear-gradient(315deg, #fff,#e4e3e8);
}
.img-natal-0{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  background: #ff2a2a;
  height: 100vh;
}

section i{
  position: absolute;
  background: #ffd700;
  z-index: 9999;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  animation: animate linear infinite;
  -webkit-animation: animate linear infinite;
}

section i:nth-child(even){
  background: transparent;
  border: 1px solid #ffd700;
}

section input{
  font-family: Roboto, Helvetica, sans-serif;
  border: 0px dashed #BBB;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}
::-webkit-file-upload-button{
  border: none;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
@keyframes animate
{
    0%{
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      opacity: 0;
    }
    10%{
      opacity: 1;
    }
    90%{
      opacity: 1;
    }
    100%{
      transform: translateY(-2000%);
      -webkit-transform: translateY(-2000%);
      -moz-transform: translateY(-2000%);
      -ms-transform: translateY(-2000%);
      -o-transform: translateY(-2000%);
      opacity: 0;
    }
} 

.btns{
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 20px;
}

.btn{
  cursor: pointer;
}

@media(max-width: 700px) {
  .btns{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: -80px;
    z-index: 999999;
  }
  .box{
    position: absolute;
    width: 320px;
    height: 320px;
  }

  .box::before{
    content: '';
    position: absolute;
    top: 0;
    left: 30%;
    width: 100%;
    height: 70%;
    background: linear-gradient(to right, #000, transparent);
    opacity: 0.1;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform-origin: left;
}
  
  .img-box{
    width: 320px;
    height: 320px;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
  .img-natal-0{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
}

.header-insta{
  font-family: 'Satisfy', cursive;
  font-size: 2em;
}
.ant-layout-header {
  line-height: 35px !important;
  height: 35px !important;
}
.footer-insta{
  font-family: 'Satisfy', cursive;
  font-size: 1em;
  font-weight: 600;
}
.ant-card-bordered {
  border: 0px solid #f0f0f0 !important;
}
.ant-list-split .ant-list-item {
  border-bottom: 0px solid #f0f0f0 !important;
}
.input-button{
  margin-top: 20px;
  width: 70% !important;
}

.ant-btn-primary {
  background: rgba(0,0,0,0.7) !important;
  border-color: rgba(0,0,0,0.7) !important;
}
.ant-btn-primary:hover {
  background:#000 !important;
  border-color: #000 !important;
}

.ant-btn-primary svg {
  width: 1.5em !important;
}
.ant-list{
  margin-top: 20px;
}
.ant-list-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  cursor: pointer;
  width: 70% !important;
  margin: auto 15%;
}
.ant-list-item{
  padding: 0!important;
}

.ant-modal-footer{
  display: none;
}
.view-timeline .ant-modal-close-x {
  display: flex !important;
  width: 46px;
  height: 46px;
  font-size: 26px !important;
  font-style: normal;
  text-align: center;
  text-transform: none;
  text-rendering: auto;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.2);
  color: #FFF;
}
.view-timeline  .ant-modal-body {
  padding: 0 !important;
}

.modal-login .ant-modal-content  {
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
}
.modal-login .ant-modal-header {
  padding: 12px 12px !important;
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
}
.modal-login  .ant-modal-body {
  text-align: right;
}
.btn-comments{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}



.btn-compare{
  position: absolute;
  top: 10px;
  right: 20px;
}
.btn-compare button{
  margin-left: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.div__json{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

.div__textarea{
  width: 47%;
  height: auto;
}
.div__textarea textarea.ant-input {
  height: 35.5% !important;
  min-height: 150px;
}
.div__textarea p{
  font-size: 1em;
  font-weight: 300;
}
.div__result{
  width: 47%;
  height: auto;
}
.div__result p{
  font-size: 1em;
  font-weight: 300;
}
.react-json-view{
  min-height: 150px !important; 
  padding: 10px;
}
.view-json{
  padding-bottom: 0px !important;
  width: 80% !important;
  top: 20px !important;
}
.view-json .ant-modal-content{
  height: auto !important;
  
}

.view-json .ant-modal-body .c-json-view{
  max-height: 500px !important;
  overflow-y: auto;
}
.btn__comparar{
  margin-top: 20px;
  float:right;
  margin-right: 10px;
}

@media(max-width: 700px) {
  .header-insta{
    width: 90% !important;
    margin: auto 5%;
    font-family: 'Satisfy', cursive;
    font-size: 2em;
  }
  .ant-layout-header {
    padding: 0 !important
  }
  .input-button{
    width: 90% !important;
    margin: auto 5%;
  }
  .ant-list-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    cursor: pointer;
    width: 90% !important;
    margin: auto 5%;
  }
  .div__json{
    flex-direction: column !important;
  }
  .div__textarea{
    width: 100% !important;
  }
  .div__result{
    width: 100% !important;
  }
  .view-json{
    width: 100% !important;
  }
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #2eab43;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}